.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
.pytest_cache
.ruff_cache
*.db
*.h5
*.ipynb
.env
.env.example
input
logs
photos
tests
.github
.pre-commit-config.yaml
pyproject.toml
README.md
LICENSE
