__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.venv/
venv/
.idea/
.vscode/
*.swp
.DS_Store
.pytest_cache/
.ruff_cache/
input/
logs/
*.db
*.h5
.env
photos/
.ipynb_checkpoints/
*.ipynb
